body {
  display: block;
  margin: 0 auto;
  /* to make the div center align to the browser */
  padding: 30px;
  width: 600px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 28px;
  text-decoration: none;
}
a {
    text-decoration: none;
}
h1 {
  font-size: 36px;
  color: #656D78;
  font-weight: 500;
  text-decoration: none;
}
.btn {
  padding: 15px;
  width: 170px;
  margin: 10px 20px;
  background: #B3C1CD;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1;
}
.blue {
  background: #29ACDE;
}
.blue2 {
  background: #4887DF;
}
.green {
  background: #8BC249;
}
.green2 {
  background: #2CBD9B;
}
.yellow {
  background: #F6BC33;
}
.violet {
  background: #9678DF;
}
.btn:hover {
  background: #000000;
}
.line-separator {
  padding: 20px;
  height:1px;
  border-bottom:1px solid #E4EAEC;
}
.footer {
  padding: 10px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #656D78;
  letter-spacing: 1px;
  line-height: 28px;
  text-decoration: none;
}
.footer:a {
  color: #656D78;
}
