body {
  display: block;
  margin: 0 auto;
  /* to make the div center align to the browser */
  padding: 20px;
  width: 600px;
  text-align: center;
  font-family: ProximaNova-Regular;
  font-size: 23px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 28px;
}
.bold_txt {
  font-family: ProximaNova-Semibold;
  font-size: 23px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 28px;
}
.txt {
  font-family: ProximaNova-Regular;
  font-size: 23px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 28px;
}
.btn {
  float: left;
  padding: 15px 25px;
  width: 150px;
  margin: 10px 50px;
  background: #29ACDE;
  border-radius: 15px;
}
.blue {
  background: #29ACDE;
}
.btn_txt {
  font-family: ProximaNova-Bold;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 15px;
}
